In [30]:
import pandas as pd
import numpy as np
import matplotlib as mpl

In [34]:
df = pd.read_csv('1ropani.csv')
# Remove the , and convert the price to an integer.
df['price'] = df['price'].apply(lambda x: int(x.replace(',','')))
df['price']

0      29000000
1       9500000
2      38500000
3      50000000
4      13000000
         ...
549    25000000
550     9500000
551    23000000
552    33000000
553     4100000
Name: price, Length: 554, dtype: int64

In [35]:
df

,title,price,location,district,floor,room,bedroom,bathroom,livingroom,kitchen,parking,link
0,"2.5 Storied House on Sale at Kathmandu-14, kal...",29000000,Kathmandu,Kathmandu,Two And Half Floors,NaN,9 Bed Room,4 Bath Room,1 Living Room,1 Kitchen,1,http://www.1ropani.com/HouseDetail.aspx?ID=8585
1,"2.5 Storied House on Sale at Tarkeshwor-5, Lol...",9500000,"Kathmandu, Tarkeshwor",Kathmandu,Two And Half Floors,NaN,7 Bed Room,3 Bath Room,1 Living Room,2 Kitchen,0,http://www.1ropani.com/HouseDetail.aspx?ID=8582
2,3.5 Storied House on Sale at Jayabahageshwori-...,38500000,"Kathmandu, Dakshinamurti Marg,jayabahageshwori...",Kathmandu,3.5 Floors,NaN,5 Bed Room,4 Bath Room,1 Living Room,1 Kitchen,1,http://www.1ropani.com/HouseDetail.aspx?ID=8578
3,4.5 Storey Commercial House for Sale @ Main C...,50000000,"Kathmandu, Putalisadak Main ChowkJUST 1 BLOCK...",Kathmandu,4.5 Floors,NaN,7 Bed Room,6 Bath Room,1 Living Room,1 Kitchen,1,http://www.1ropani.com/HouseDetail.aspx?ID=8576
4,"Residential House on Sale at OM Marg,Bikash Ch...",13000000,"Chitwan, Bharatpur, bikash chowk",Chitwan,1 and Half Floors,NaN,3 Bed Room,3 Bath Room,1 Living Room,1 Kitchen,1,http://www.1ropani.com/HouseDetail.aspx?ID=8575
...,...,...,...,...,...,...,...,...,...,...,...,...
549,Residential House with Land on Sale at Sukedha...,25000000,"Kathmandu, New Colony500 m from Sukedhara Chowk",Kathmandu,4 Floors,NaN,6 Bed Room,5 Bath Room,3 Living Room,2 Kitchen,1,http://www.1ropani.com/HouseDetail.aspx?ID=6235
550,Residential Cum Commercial House on Sale at C...,9500000,"Kathmandu, Sharaswati NagarOpposite of Siddhar...",Kathmandu,4 Floors,NaN,4 Bed Room,3 Bath Room,2 Living Room,2 Kitchen,0,http://www.1ropani.com/HouseDetail.aspx?ID=6234
551,Modern Beautiful Bungalow For Sale At Bhainsepati,23000000,"Lalitpur, Karyabinayak, Sainbu",Lalitpur,3 Floors,NaN,5 Bed Room,5 Bath Room,1 Living Room,2 Kitchen,0,http://www.1ropani.com/HouseDetail.aspx?ID=6218
552,"Residential Bungalow on Sale at Bhainsepati, 5...",33000000,"Lalitpur, Sainbu Bhainsepati, Mahila Samuha Ma...",Lalitpur,3 Floors,NaN,4 Bed Room,5 Bath Room,1 Living Room,1 Kitchen,1,http://www.1ropani.com/HouseDetail.aspx?ID=6210
553,"House on Sale at Devghat, nearby Harihar Ashram",4100000,"Tanahun, Devghat, Devghatdhamnearby Harihar As...",Tanahun,3 Floors,NaN,3 Bed Room,2 Bath Room,1 Living Room,1 Kitchen,0,http://www.1ropani.com/HouseDetail.aspx?ID=6197

In [37]:
df['floor'].unique()

array(['Two And Half Floors', '3.5 Floors', '4.5 Floors',
       '1 and Half Floors', 'Three Floors', 'Two Floors', '2 Floors',
       '3 Floors', '2.5 Floors', '5 Floors', '4 Floors', '1.5 Floors',
       '8 Floors', '1 Floors', 'One Floors', 'Four Floors',
       'Three And Half Floors', 'Sixth Floors', 'Three and Half Floors',
       'Fourth Floors', 'Five Floors', 'Six And Half Floors',
       'Five And Half Floors', 'Two and half Floors',
       'One And Half Floors', 'Seven Floors', '2.75 Floors',
       'Four And Half Floors', 'Seven And Half Floors', 'Fifth Floors',
       'One and Half Floors', 'Ground Floors', 'Seventh Floors',
       'Two and Half Floors', 'To and Half Floors',
       'Three and half Floors', 'Three and Half Include Basement  Floors',
       'Five and half Floors', 'Five and Half Floors',
       'Four and Half Floors', '5.5 Floors', '6 Floors'], dtype=object)

In [45]:
# def clean_floor(x):
#     floors = 0
#     if 'one' in x.lower() or '1' in x.lower():
#         floors = floors + 1

array([[0., 0., 0.],
       [0., 0., 0.]])

In [39]:
|

SyntaxError: invalid syntax (<ipython-input-39-4b37ef281455>, line 1)